html
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Syne', sans-serif;
    color: white;
    background-color: rgb(180, 39, 39);
    border: solid;
    border-color:white;
    border-width: 10px;
    border-radius: 1em;
}

h1
{
    border: 8px solid white;
    border-radius: 36px;
    color: white;
    display:inline;
    padding: 6px;
} 

#team-h1 
{
    padding: 30px 12px;
    display: block;
    text-align: center;
    margin:0 auto;
}

#team-nav
{
    list-style-type: none;
    text-align: center;
}

/* unvisited link */
a:link 
{
    color: white;
}

/* visited link */ 
a:visited 
{
    color: rgb(224, 224, 125);
}

/* mouse over link */
a:hover 
{
    color: white;
}


#goku-list
{
    color: rgb(224, 224, 125);
    padding: 5px;
    background: rgb(128, 127, 125);
    margin-left: auto;
    margin-top: 12px;
}

.team-div
{
    padding: 8px; 
    text-align: center;
}

.team-title
{
    align-self: center;
    text-shadow: 2px 6px 6px darkred;
}

.main-nav
{
    display: inline;
}

a
{
    text-decoration: none;
    padding: 5px;
}

.img-about
{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: 2px 8px 8px darkred;
    padding-top: 18px;
}

.img-about:hover
{
    width: 300px;
    height: 300px;
    transition: 0.1s;
}

#youssef-facts
{
    text-shadow: 2px 6px 6px darkred;
}

#buttonAbout {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
    border-color:rgb(255, 66, 66);
    border-radius: 2em;
    color: white;
    background-color: darkred;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-self: left;
  }